<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <% if(!locals.messages || messages.length === 0) { %>
    <h1>No messages posted</h1>
    <% } else { %>
    <h1>Messages:</h1>
    <% messages.forEach(message => { %>
    <div class="message-container">
      <div class="message-title-div">
        <h2 class="message-title"><%= message.title %></h2>
        <span><% if(locals.user && user.membership_status) { %> <%= message.date.toLocaleString() %> <% } %></span>
        <% if(locals.user && user.is_admin) { %>
        <form action="/messages/delete/<%=message.post_id%>" method="post">
          <input type="submit" value="Delete message"></button>
        </form>
        <% } %>
      </div>
      <span class="message-author">
        <% if(locals.user && user.membership_status) { %><%= message.first_name %> <%= message.last_name %><% } else {
        %> Anonymous user <% } %>
      </span>
      <span class="message-text"><%= message.text %></span>
    </div>
    <% }); %> <% } %>
    <br /><br />
    <% if(!locals.user) { %> <a href="/sign-up">Sign Up</a> or <a href="/login">Login</a>
    <% } else { %> <% if(user.membership_status) { %>
    <a href="/messages/create">Create a new message</a>
    <% } %>
    <a href="/membership">Membership</a>
    <a href="/logout">Log out</a>
    <% } %>
  </body>
</html>
